<div class="play-buttons btn-group" role="group" aria-label="Five Buttons">
    <button type="button" class="btn alt-music-button">
        <img class="alt-music-button" src="..\assets\shuffle.png" alt="Button 1">
    </button>
    <button type="button" class="btn main-music-button">
        <img class="main-music-button" src="..\assets\move-left.png" alt="Button 2">
    </button>
    <button type="button" class="btn main-music-button">
        <img class="main-music-button" src="..\assets\play.png" alt="Button 3">
    </button>
    <button type="button" class="btn main-music-button">
        <img class="main-music-button" src="..\assets\move-right.png" alt="Button 4">
    </button>
    <button type="button" class="btn alt-music-button">
        <img class="alt-music-button" src="..\assets\rewind.png" alt="Button 5">
    </button>
</div>